html, body {
    height: 100%;
    margin: 0 8px;
}

body {
    text-align: center;
    display: grid;
    grid-template-rows: min-content min-content auto;
}

div {
    border:  thin dashed black;
    background-color: grey;
    position: relative;
    top: 0px;
    left: 0px;
}

span {
    font-size: 80px;
    position: absolute;
    border: thin dotted black;
    color: darkred;
}